{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Branch management{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="branch_list_content" class="branchListContent"></div>
<div class="crudContent">
  <div id="crud_branch_content" class="crudBranchContent">
    <form method="post">
      <label for="name">name</label>
      <input name="name" id="name" required>

      <input type="submit" value="Save">
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='branchUtil.js')}}"></script>
{% endblock %}