{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}usuarios{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="userContent">
    {% for u in users %}
        <h1>{{ u['id'] }}</h1>
        <p>{{ u['username'] }}</p>
        <p>{{ u['email'] }}</p>
        <p>{{ u['password'] }}</p>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    {% for u in users %}
        <h1>{{ u['id'] }}</h1>
        <p>{{ u['username'] }}</p>
        <p>{{ u['email'] }}</p>
        <p>{{ u['password'] }}</p>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    {% for u in users %}
        <h1>{{ u['id'] }}</h1>
        <p>{{ u['username'] }}</p>
        <p>{{ u['email'] }}</p>
        <p>{{ u['password'] }}</p>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}