{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}usuarios{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('network.create') }}">
      Agregar nuevo usuario
    </a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="viewContent component">
  {% for u in users %}
      <h1>{{ u['id'] }}</h1>
      <p>{{ u['username'] }}</p>
      <p>{{ u['email'] }}</p>
      <p>{{ u['password'] }}</p>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}