{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="deviceContent">
        {% for u in users %}
            <h1>{{ u['id'] }}</h1>
            <p>{{ u['username'] }}</p>
            <p>{{ u['email'] }}</p>
            <p>{{ u['password'] }}</p>
            {% if not loop.last %}
            <hr>
            {% endif %}
        {% endfor %}
    </div>
    <div class="consoleContent">
        
    </div>
{% endblock %}