<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Flaskr</title>

<nav>
  <h1 class="switch_theme">🍯 Honey Host</h1>
  <div class="dropdown">
    {% if g.user %}
      <span class="dropbtn">{{ g.user['username'] }}</span>
      <div class="dropdown-content">
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
      </div>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </div>

</nav>

{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<header>
  {% block header %}{% endblock %}
</header>

<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

<footer>
  <p>Universidad autonoma de Guadalajara</p>
  <p>© 2024 Todos los derechos reservados para mabby1110 </p>
  <h1 class="switch_theme">🐝</h1>
</footer>