<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Flaskr</title>
<head>
{% if g.user %}
  <script src="{{ url_for('static', filename='networkUtil.js')}}"></script>
{% endif %}
</head>
<body>
  <nav>
    <div class="logo" style="display: flex; gap: 0.5rem;">
      <h3 class="switch_theme">🍯</h3>
      <h3>
        <a href="{{ url_for('network.index') }}" style="text-decoration: none; color: var(--header-font);">
          Honey Host
        </a>
      </h3>
    </div>
    {% if g.user %}
      <div class="views" style="display: flex; gap: 0.5rem;">
        <a class="action" href="{{ url_for('network.index') }}">
          Network
        </a>
        <a class="action" href="{{ url_for('network.automatization') }}">
          Automatization
        </a>
        <a class="action" href="{{ url_for('network.advance') }}">
          Advance
        </a>
      </div>

      <div class="userOptions">
        <span>{{ g.user['username'] }}</span>
        <div class="dropdown">
          <img class="profileImage" src="{{ url_for('static', filename='pp.jpg') }}" alt="profile picture">
          <div class="dropdownContent">
            <a class="action" href="{{ url_for('network.manageUser') }}">
              Users
            </a>
            <a class="action" href="{{ url_for('network.manageDevice') }}">
              Devices
            </a>
            <a class="action" href="{{ url_for('network.manageBranch') }}">
              Branches
            </a>
            <hr>
            <a href="{{ url_for('auth.logout') }}">
              Log Out
            </a>
          </div>
        </div>
      </div>
    {% else %}
    <div class="authOptions" style="display: flex; gap: 0.5rem;">
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    </div>
    {% endif %}      
  </nav>
  
  <div class="bodyContent">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <header>
      {% block header %}{% endblock %}
    </header>
    <main>
      <div class="mainContent">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    
  </div>
  <footer>
    <p>Universidad autonoma de Guadalajara</p>
    <p>© 2024 Todos los derechos reservados para mabby1110 </p>
    <h1 class="switch_theme">🐝</h1>
  </footer>
</body>
<script src="{{ url_for('static', filename='util.js')}}"></script>